[Unit]
Description=MySQL
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ mysql_container_name }}
ExecStop=/usr/bin/docker stop -t 2 {{ mysql_container_name }}

[Install]
WantedBy=default.target
